<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!-- Validaciones -->
    <add key="IsRut" value="^([0-9]+-{1}[0-9K]{1})$" />
    <add key="IsBase64String" value="^[a-zA-Z0-9\+/]*={0,3}$" />
    <!-- Llave secreta api -->
    <add key="SecretKey" value="41f43827424b22ec30c3b1064ff752abc6345a1c0d2c030457a2a8e0b86f562d" />
    <add key="KeyHeader" value="bqtb6PN834XzWYF2qaHPpZR7JEL68YdCj8avtmnFQRYpUxvAkff4pu22Q8hVWvTXRJH63zFMJT64BMVmK9aqXRhyv6L8RV7ssC5hZDy3pZvFXzgapteW6bgEyy72UUzR37CXLZVMGv3fENK2HEJZ9td9yydxLCc2DAr2FnvETgqdXYpqV669Fj6huPfes4fSLfQNqBMsvbVFjHc4dP2qUeBTtXBKDWgt7xvxpCanWYJdPkUXsCtPAGFADuXzvmuh" />
    <!-- Otros -->
    <add key="PageSizeMaximun" value="50" />
    <add key="PDFHeroeSizeMaximunOfRecords" value="4" />
    <add key="PDFExampleSizeMaximunOfRecords" value="45" />

    <add key="" value="" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>